body{
background: -moz-linear-gradient(left, #F4E7CA 0%, #FFFFFF 50%, #F4ECCE 100%);
background: -webkit-linear-gradient(left, #F4E7CA 0%, #FFFFFF 50%, #F4ECCE 100%);
background: linear-gradient(to right, #F4E7CA 0%, #FFFFFF 50%, #F4ECCE 100%);
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px:
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton:disabled {
	box-shadow:inset 0px 0px 0px 0px;
	border:1px solid #bdbdbd;
	color:#ffffff;
	text-shadow:0px 0px 0px;
	background:#a3a3a3;
}

.navButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid rgb(67,200,249);
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-right:8px;
	margin-bottom: 20px;
}
.navButton:hover {
	background-color:transparent;
}
.navButton:active {
	position:relative;
	top:1px;
}

.logButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color: #429cc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:2px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding:8px 24px;
	margin-right:8px;
	margin-bottom: 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	float: right;
}
.logButton:hover {
	background-color:#0061a7;
}
.logButton:active {
	position:relative;
	top:1px;
}

div.logbar{
float: right;
margin-bottom: 10px;

}
div.bar{
max-width: 770px;
margin: auto;
}


div.desc{
margin-top: 25px;
margin-bottom: 25px;
border: 1px solid rgb(67,200,249);
background-color: #0bcbff14;
padding: 25px;
max-width: 750px
}

div.header{
border-top: 1px solid rgb(67,200,249);
border-bottom: 1px solid rgb(67,200,249);
}

.title{
background: url("leftTitle.jpg") no-repeat left top, url("rightTitle.jpg") no-repeat right top;
padding: 10px;
clear: both;
height: 180px;
background-color: rgb(190,232,248);
}

.title p {
margin-top:60px;
font-family:  Arial, Helvetica, sans-serif;
font-size: 40px;
letter-spacing: 3px;
word-spacing: 3px;
color: #FFEDB5;
text-align: center;
}
.title img {
margin: auto;
display: block;
}


#tf {
font-family: "Times New Roman", Times, serif;
font-size: 16px;
letter-spacing: 0.8px;
word-spacing: 1px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

.warning{
font-weight: bold;
color: #b00006;
}

.approved{
font-weight: bold;
color: green;
}

.formContainer{
border-bottom: 1px solid #efefef;
margin: 10px;
padding-bottom: 10px;
width: 600px}

label.form{
float: left;
width: 100px;
text-align: right;
padding-right: 10px;
}

select{
width: 400px;
margin-bottom: 10px;
}

table.statTable {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #515151;
  width: 100%;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
}
table.statTable td, table.statTable th {
  border: 1px solid #515151;
  padding: 3px 2px;
}
table.statTable tbody td {
  font-size: 13px;
}
table.statTable thead {
  background: #14ACF2;
}
table.statTable thead th {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
table.statTable tfoot td {
  font-size: 14px;
}

tr.active {
background-color: #5df53799;
}