<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Róża</title>
</head>
<body>
<h2>Witaj na stronie aplikacji do R&oacute;ży r&oacute;żańca.</h2>
<p><br /> Aplikacja jest ściśle powiązana z Facebookiem i Messangerem.</p>
<p>Aby zacząć z niej korzystać, musisz wykonać następujące kroki:</p>
<ol>
<li>zapoznaj się ze stroną na Facebooku <a href="https://www.facebook.com/tajemnicerozancaswietego/">Strona Żywych R&oacute;ż R&oacute;żańca</a></li>
<li>zapisz się do grupę/grupy z intencją w kt&oacute;rej chcesz odmawiać r&oacute;żaniec <a href="https://www.facebook.com/pg/tajemnicerozancaswietego/groups/">Dostępne grupy</a></li>
<li>po dołączeniu do grupy, rozpocznij chat na <a href="https://www.messenger.com/t/tajemnicerozancaswietego">gł&oacute;wnej stronie</a></li>
</ol>
</body>
</html>