<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script type=text/javascript src="/static/js/jquery.js"></script>
<script>

    var waitForGlobal = function( callback) {
      if (typeof fb_user_psid !== 'undefined') {
        callback();
      } else {
        setTimeout(function() {
          waitForGlobal(callback);
        }, 200);
      }
    };

   // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'not_authorized') {
        document.getElementById('login_button').style.display = 'block';

    } else {
        document.getElementById('login_button').style.display = 'none';
        waitForGlobal(function() {
            FB.api("/" + response.authResponse["userID"] + "/groups", {access_token: response.authResponse["accessToken"]}, function (response2) {

                if (response2 && !response2.error)
                    var data_json = JSON.stringify([response2, fb_user_psid], null, '\t');
                console.log(data_json);
                $.ajax({
                    url: "https://kgacek.pythonanywhere.com/login",
                    method: "post",
                    contentType: 'application/json;charset=UTF-8',
                    data: data_json
                }).always( function() {
                    MessengerExtensions.requestCloseBrowser()
                });
            });
        });
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.extAsyncInit = function() {
  // the Messenger Extensions JS SDK is done loading
  MessengerExtensions.getContext('1061023747434571',
      function success(thread_context){
          fb_user_psid = thread_context.psid
        // success
      }
  );
  };

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1061023747434571',
      cookie     : true,  // enable cookies to allow the server to access
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v3.2' // use graph api version 2.8
    });

    // Now that we've initialized the JavaScript SDK, we call
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
<div id="login_button" style="display: none;">
<fb:login-button size="xlarge" scope="public_profile,email,pages_messaging_subscriptions,groups_access_member_info" onlogin="checkLoginState();">
</fb:login-button>
</div>
<div id="group_table">
</div>

</body>
</html>