<!DOCTYPE html>
<html>
<head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<script type=text/javascript src="/static/js/jquery.js"></script>
<script type=text/javascript src="/static/js/rose_scripts.js"></script>
<script>
    window.extAsyncInit = function () {
        // the Messenger Extensions JS SDK is done loading
        MessengerExtensions.getContext('1061023747434571',
            function success(thread_context) {
                fb_user_psid = thread_context.psid
                // success
            }
        );
    };

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1061023747434571',
            cookie: true,  // enable cookies to allow the server to access
                           // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v3.2' // use graph api version 2.8
        });
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
</script>
<h4 id="statusTitle">Uruchamiam aplikację..</h4>
<div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="true" data-onlogin="loginbutton()" style="display: none;" id="loginBtn"></div>

<form id="myForm" action="https://kgacek.pythonanywhere.com/_get_users_intentions" method="post" style='display: none'>
<table id="myTable" class="iTable"></table> <br>
  <input type="submit" value="Zapisz" class="myButton" style="float: right;"><br>
</form>
<hr>
<form id="newIntention" action="https://kgacek.pythonanywhere.com/_add_intention" method="post" style='display: none'>
    <div id="newIntentionDiv"></div> <br>
  <input type="submit" value="Dodaj mnie" class="myButton" style="float: right;"><br>
</form>

<div id="choice_buttons" style="display: none;">
    <a href="#" onclick="addIntention()" class="logbutton">Zapisać się do nowej intencji</a>
    <a href="#" onclick="already_user()" class="logbutton">podać tajemnice, które odmawiam</a>
    <a href="#" onclick="MessengerExtensions.requestCloseBrowser();" class="logbutton">To wszystko, dzięki!</a>
</div>

</body>
</html>